<div class="container" style="margin-top: 70px;">
  <h1>Contacts</h1>
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Contact Name</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.name" type="text" name="name" class="form-control" id="name" placeholder="Enter your name">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Contact Email</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.eMail" type="text" name="eMail" class="form-control" id="eMail" placeholder="Enter your email">
        </div>
      </div>

      <div class="form-group row">
        <label for="address1" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.address1" type="text" name="address1" class="form-control" id="address1"  placeholder="Enter your Address">
        </div>
      </div>

      <!--
      <div class="form-group row">
        <label for="address1" class="col-sm-2 col-form-label">Address 2</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.address2" type="text" name="address2" class="form-control" id="address2" placeholder="Enter your Address (Line 2)">
        </div>
      </div>
      -->
      <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.city" type="text" name="city" class="form-control" id="city" placeholder="City">
        </div>
      </div>

      <div class="form-group row">
        <label for="state" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.state" type="text" name="state" class="form-control" id="state" placeholder="State">
        </div>
      </div>

      <div class="form-group row">
        <label for="zip" class="col-sm-2 col-form-label">Zip Code</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.zip" type="text" name="zip" class="form-control" id="zip" placeholder="Zip">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone1" class="col-sm-2 col-form-label">Primary Phone</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.phone1" type="text" name="phone1" class="form-control" id="phone1" placeholder="Enter your primary phone#">
        </div>
      </div>

      <!--
      <div class="form-group row">
        <label for="phone2" class="col-sm-2 col-form-label">Alternate Phone</label>
        <div class="col-sm-8">
          <input [(ngModel)]="contact.phone2" type="text" name="phone2" class="form-control" id="phone2" placeholder="Enter your alternate phone#">
        </div>
      </div>
      -->

      <div class="form-group row">
        <label for="note" class="col-sm-2 col-form-label">Initial Comments</label>
        <div class="col-sm-8">
          <input [(ngModel)]="newNote" type="text" name="initialNote" class="form-control" id="initialNote">
        </div>
      </div>
    </form>
  <button class="btn btn-primary" (click)="createContact()">Create contact</button>
</div>
